<div class="text-center">
   <h1>GINGER KING BOATS</h1>

   <div class="col-md-4 col-md-offset-4 bordering">
       <h3>Transaction {{txnInfo.txnId}} Details</h3>
       <form [formGroup]="updateForm">
       <table class="table">
           <tr>
             <td><label>User ID:</label></td>
             <td><label>{{txnInfo.userId}}</label></td>
           </tr>
           <tr>
             <td><label>Boat ID:</label></td>
             <td><label>{{txnInfo.boatId}}</label></td>
           </tr>
           <tr>
             <td><label>Start Date:</label></td>
             <td><input formControlName="startDate" type="date" [value]="txnInfo.startDate"></td>
           </tr>
           <tr>
             <td><label>End Date:</label></td>
             <td><input formControlName="endDate" type="date" [value]="txnInfo.endDate"></td>
           </tr>
           <tr>
             <td><label>Total Cost:</label></td>
             <td><label>${{txnInfo.totalCost}}</label></td>
           </tr>
           <tr>
             <td><label>Mobile No:</label></td>
             <td><input class="form-control" formControlName="mobileNo" type="number" [value]= "txnInfo.mobileNo"></td>
           </tr>
       </table>
       <button class="btn btn-danger"[routerLink]="['/display-all-bookings']"s>Cancel</button>
       <button type="Submit" class="btn btn-primary"(click) ="updateDetails()">Update</button>
       </form>
     <br>
     <div *ngIf="updateMessage != ''">{{updateMessage}}</div>
   </div>
</div>
