<div class = "text-center">
    <h1>WELCOME TO GINGER KING BOATS</h1>
    <div class = "col-md-8 col-md-offset-2 bordering fade-in">
      <h3>Explore Our Various Boats</h3>
      <table class = "table">
        <tr>
          <th>Boat Type </th>
          <th>Boat Desciption</th>
        </tr>
        <tr *ngFor = "let data of boatData">
          <td><a [routerLink] = "['/search-and-book', data.boatType]">{{ data.boatType }} </a></td>
          <td> {{ data.description }}</td>
        </tr>
      </table>
    </div>
</div>
