.table th {
    border: 0; 
    text-align: center;
    vertical-align: bottom;
    color: black;
}

.table .text-center {
     border: 0;
}

.enter-details td {
    border: 0;
     /* vertical-align: center;  */
}

 input {
    border-radius: 15px;
    color: #07507F;
}

.btn {
    border-radius: 25px;
    border: 0;
}