.scrollbar {
    overflow-y: scroll;
    height: 400px;
    padding: 10px;
}

.table th {
    border: 0;
    text-align: center;
    vertical-align: bottom;
    color: black;
}

tr:hover {
    color: black;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

a:link,
a:visited {
    color:#2e2e2e;
     text-decoration: underline; 
}

a:hover {
    color: #07507F;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.btn {
    border-radius: 25px;
    border: 0;
}

.addNew {
    background-color: #07507F;
    color: #9FC6BF;
    font-size: 90%;
    margin: 10px 0;
}

.addNew:hover {
    color: #eee;
    background-color: #096EB0;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
 opacity:0;
 -webkit-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;
 
 -webkit-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration:1s;
 animation-duration:1s;
}